* {
    text-decoration: none !important;
}

.color-1 {
    color: #E47200;
}
.color-light-f {
    color: #999;
}

.bg-end {
    background: #111111;
}

.style-i {
    background: white;
}

.style-btn-1 {
    background: #E47200;
    color: white;
    font-weight: 500;
    transition: all .4s ease;
    box-shadow: 1px 2px 2px #E47200;
    animation: mymove 2s infinite;
}
.style-btn-1:hover{
    background:#000;
}
.style-02{
    background:#000;
}
.style-02:hover{
    background: #E47200 !important;   
}
.btn-style-1 {
    border: none;
    background: #E47200;
    color: white;
    transition: 0.2s linear;
}
.h1-heading {
    font-size: calc(27px + (45 - 27) * ((100vw - 270px) / (1920 - 270))) !important;
}

.span-color-1 {
    color: #C8F60E;
}
.p-special-style {
    color: #000;
    font-size: 18px;
    line-height: 31px;
    margin: 11px 0 14px 0;
    font-weight: 500;
}
.p-80{
    padding: 80px 0px;
}
.m-top {
    margin-top: 110px;
}
@keyframes mymove {
    0% {
        box-shadow: 1px 1px 3px #E47200;
    }
    50% {
        box-shadow: 1px 1px 16px #E47200;
    }
    100% {
        box-shadow: 1px 1px 3px #E47200;
    }
}
.overlay-style:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    background: rgb(0 0 0 / 62%);
    z-index: 0;
    left: 0px;
}

header {
    padding: 15px 0px;
}

/* media--qurey */

@media screen and (min-width: 767.98px) {
    .call-size {
        font-size: calc(11px + (27 - 11) * ((100vw - 270px) / (1920 - 270))) !important;
    }
}
@media screen and (max-width: 767.98px) {
    .call-size {
        font-size: calc(18px + (25 - 18) * ((100vw - 270px) / (1920 - 270))) !important;
    }
    .img-100 {
        width: 100%;
        height: auto;
      }
      .call-section {
        height: auto !important;
    }    
}
@media screen and (max-width: 446.98px) {
    .col-399 {
        width: 100%;
        justify-content: center !important;
    }   
}
@media screen and (min-width: 1116.98px) {
    .padding-control {
        padding: 15px 100px !important;
    }
}
@media screen and (min-width: 1274.98px) {
    .padding-control {
        padding: 15px 170px !important;
    }
}
/* section-1 */
.home-banner.lazyloaded{
    background: url(./images/banner-1.webp) no-repeat;
    background-size: cover;
    background-position: center center;
}
.section-1 {
    z-index: -0;
    padding: 100px 0px;
}
.bg-f-back {
    left: -24px;
}
.text-absolte {
    left: 10px;
    top: 46px;
    font-size: 14px;
}
.style-border {
    border: 1px solid #cdcdcd;
    width: 100%;
    background: #f4dfcb;
}
.ul-style li {
    color: #000;
    display: flex;
    align-items: center;
    line-height: 28px;
    font-size: 16px;
}
ul li i {
    font-weight: 800;
    margin: 0 14px 0 0;
    border: 1px solid #fff;
    color: #fff;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    text-align: center;
    display: flex;
    align-items: center !important;
    justify-content: center !important;
    font-size: 12px;
}
ul li i::before {
    position: relative;
    top: 4px;
}
.top-form {
    background: #fff;
    padding: 1px 0px 31px 0px;
    border-radius: 0px 0px 0px 100px;
    box-shadow: 0 5px 15px -4px #b2b2b2;
}
.form-design {
    input {
        width: 100%;
        padding: 13px;
        background: transparent;
        border: none;
        border-bottom: 1px solid #99999947
    }

    input:focus {
        outline-color: #f6921e;
    }
    textarea {
        width: 100%;
        padding: 13px;
        background: transparent;
        border: none;

        border-bottom: 1px solid #99999947;
        height: 80px;
    }
    textarea:focus {
        outline-color: #f6921e;
    }
}
/* section-2 */
.bg-dealer {
    transition: 0.2s linear;
}
.bg-dealer:hover {
    box-shadow: 1px 2px 5px #0045;
}
/* section-3 */
.ex-box {
    border: 1px solid #E47200;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    transition: 0.2s linear;
}
.b-exp-box {
    position: absolute;
    content: "";
    width: 150px;
    height: 150px;
    background: #F2440517;
    right: -13px;
    border-radius: 100px;
    top: 8px;
    transition: 0.2s linear;
}
.style-i-2 {
    background: #E47200;
    width: 70px;
    transition: 0.2s linear;
}
.ex-box:hover {
    .style-i-2 {
        background: #000;
        color: white !important;
    }

    .b-exp-box {
        background: #F2440545;
    }
}

/* section-4 */
.call-banner.lazyloaded{
    background: url(./images/slides.webp) no-repeat;
    background-size: cover;
    background-position: center center;
}
.call-section {
    
    width: 100%;
    height: 100vh;
}
.call-now {
    left: 85px;
    top: 5px;

}
/* section-5  */
.tab-style-r {
    background: #f4dfcb;
    border-radius: 50px
}

.new-style-btn-2 {
    border-radius: 50px;
    transition: 0.2s ease-in;
    color: #000;
    padding: 8px 35px !important;
}
.new-style-btn-2:hover {
    background: #E47200;
    color: white;
}

.click-btn .active {
    background: #E47200;
    border-radius: 50px;
    color: white;
}
/* section-6 */
.bg-dicuses-banner {
    background: url(./images/discount.webp) no-repeat !important;
    background-position: center;
    background-size: cover !important;
}
.bg-dicuses {
    padding: 95px 0px;
}
.design-text {
    background: linear-gradient(90deg, rgba(212, 131, 58, 0.958420868347339) 62%, rgba(0, 0, 0, 0.711922268907563) 87%);
}
/* <!-- section-7 --> */
.reach-box {
    border-radius: 20px;
    transition: 0.2s linear;
    box-shadow: 1px 3px 5px #e4720017;
}
/* section-8 */
.review-box {
    border: 1px solid #6f6c9033;
    border-radius: 20px;
    transition: 0.2s linear;
    background: transparent;
    cursor: pointer;
    p {
        color: #6F6C90;
    }
    img {
        border-radius: 50px;
    }
}
.review-box:hover {
    background: white;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.5);
}

/* ....... */
.contact-respons {
    top: 0px;
}

@media screen and (max-width:1150px) {
    .contact-respons {
        width: 550px;
        height: 345px;
        top: 50px;
    }
}

.form-l-ds {
    border: 1px solid #f6921e;
    border-radius: 30px;

    form {
        background: #ffffff;
        margin: 0px;
        z-index: 2;
        border-radius: 30px;
       
    }

    input {
        width: 100%;
        border-radius: 50px;
        padding: 10px;
        border: none;
        border: 1px solid #999;
    }

    textarea {
        width: 100%;
        border-radius: 30px;
        padding: 10px;
        border: none;
        border: 1px solid #999;
        height: 150px;
    }
}

.form-ls {
    background: url(./images/contact-top.webp) no-repeat;
    background-size: cover;
    background-position: center;
    padding: 70px 0px !important;
    position: relative;
    z-index: 1;
    border-radius: 30px;
}
